<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSession</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.GetSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInRegister</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.SignInRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessfulRegistration</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.SuccessfulRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserInformation</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ChangeUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInformation</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.UpdateUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateData</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ValidateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Starting</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.Starting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTopProducts</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowTopProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBadUsers</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowBadUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGoodUsers</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowGoodUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToBasket</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.AddToBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserOrders</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.GetUserOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeOrder</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.MakeOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayOrder</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.PayOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBasket</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaymentMenu</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowPaymentMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllProducts</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsOfSelection</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowProductsOfSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTransactions</servlet-name>
        <servlet-class>com.cs360.winesofcrete.server.ShowTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayOrder</servlet-name>
        <url-pattern>/PayOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeOrder</servlet-name>
        <url-pattern>/MakeOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserInformation</servlet-name>
        <url-pattern>/ChangeUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInformation</servlet-name>
        <url-pattern>/UpdateUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserOrders</servlet-name>
        <url-pattern>/GetUserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToBasket</servlet-name>
        <url-pattern>/AddToBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowGoodUsers</servlet-name>
        <url-pattern>/ShowGoodUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBasket</servlet-name>
        <url-pattern>/ShowBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaymentMenu</servlet-name>
        <url-pattern>/ShowPaymentMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSession</servlet-name>
        <url-pattern>/GetSession</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SignInRegister</servlet-name>
        <url-pattern>/SignInRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Starting</servlet-name>
        <url-pattern>/Starting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessfulRegistration</servlet-name>
        <url-pattern>/SuccessfulRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateData</servlet-name>
        <url-pattern>/ValidateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTopProducts</servlet-name>
        <url-pattern>/ShowTopProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBadUsers</servlet-name>
        <url-pattern>/ShowBadUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllProducts</servlet-name>
        <url-pattern>/ShowAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsOfSelection</servlet-name>
        <url-pattern>/ShowProductsOfSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTransactions</servlet-name>
        <url-pattern>/ShowTransactions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
